<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vavisa.monasabatcom">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_reound"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon">
        <activity android:name=".activities.AddressesActivity"></activity>
        <activity android:name=".activities.AppointmentDetails" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".Login" />
        <activity
            android:name=".activities.CartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CartThem"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".Register" />
        <activity android:name=".AddNewAddress" />
        <activity android:name=".ForgetPassword" />
        <activity android:name=".CompletePayment" />
        <activity android:name=".activities.FilterActivity" />
        <activity
            android:name=".Welcome"
            android:screenOrientation="portrait"
            android:theme="@style/SplashActivityWithBGImageBackground"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".notification.NotificationExtenderBareBonesExample"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>

        <activity android:name=".ChooseLanguage" />
    </application>

</manifest>